.login-form {
  padding: 2vh 2vh;
  max-width: 40%;
}

.login-form-button {
  width: 100%;
}

.info {
  background-color: #ffffcc;
  border-left: 6px solid #ffeb3b;
  padding: 12px;
  margin: 12px;
}
